# mandatory for core components
tqdm
ptflops # for --test_flop
accelerate # parallel training
coloredlogs # logging

# optional
wandb # logging
matplotlib
reformer_pytorch
torch-geometric # higp
# torch_sparse # higp. Installation refers to https://github.com/rusty1s/pytorch_sparse
torchdiffeq # Latent_ODE
jaxtyping # MORAI (uni2ts)
gluonts # MORAI (uni2ts)
python-igraph # GNeuralFlow
pytorch_lightning # tsl
tables # tsl
scikit-learn # tsl

